@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}

.main {
    /* background: red; */
    padding: var(--space-layout-padding-lr);
    margin-top: var(--space-layout-padding-t);
}
.main__section {
    width: var(--layout-imagen-width-detail);
    /* background: green; */
}
.section__product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.product__image {
    /* background: blue; */
    width: var(--layout-imagen-width-detail);
    height: var(--layout-imagen-height-detail);
    border-radius: 15px;
    overflow: hidden;
}
.product__image img{
    width: var(--layout-imagen-width-detail);
    height: var(--layout-imagen-height-detail);
    object-fit: cover;

}

.product__menu {
    /* background: violet; */
    width: var(--layout-imagen-width-detail);
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0 15px;
}

.article__detail {
    /* background: red; */
}
.detail__head {
    margin-top: 20px;
    /* background: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail__head h1{
    font-family: "EncodeSans-SemiBold";
}
.product__select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.product__select span{
    font-family: "EncodeSans-Bold";
}

.detail__score {
    display: flex;
    gap: 5px;
    align-items: center;
}
.detail__score span{
    color: var( --color3);
}

.detail__score a{
    text-decoration: none;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 10px;
    padding: var(--space-layout-padding-lr);
    
}

.footer__add {
    background: var(--color1);
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    gap: 4px;
}

.footer__add strong,
.footer__add small{
    color: var(--color5);
}
