:root{
    --color1: #292526;
    --color2: #1B2028;
    --color3: #A4AAAD;
    --color4: #111111;
    --color5: #ffffff;
    --color6: #343031;
    --space-layout-padding-lr: 0px 15px;
    --space-layout-padding-t: 5px;
    --layout-imagen-width: 100%;
    --layout-imagen-height: 350px;
    
    --layout-imagen-width-detail: 100%;
    --layout-imagen-height-detail: 392px;
}

@font-face{
    font-family: "EncodeSans-Regular";
    src: url("../storage/font/encodeSans/EncodeSans-Regular.ttf");
}

@font-face{
    font-family: "EncodeSans-Medium";
    src: url("../storage/font/encodeSans/EncodeSans-Medium.ttf");
}

@font-face{
    font-family: "EncodeSans-semiBold";
    src: url("../storage/font/encodeSans/EncodeSans-SemiBold.ttf");
}

@font-face{
    font-family: "EncodeSans-Bold";
    src: url("../storage/font/encodeSans/EncodeSans-Bold.ttf");
}